.movie-list {
  display: flex;
  flex-flow: row wrap;
  padding: 48px 30px;
}

.movie-title {
  background-color: rgb(160, 151, 151);
  color: red;
  font-size: 3rem;
  margin: 0;
  padding: 25px;
  text-align: center;
}

.linklist {
  color: blue;
  margin: 40px;
  text-decoration: none;
}

.linklist a:hover {
  opacity: 0.6;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  height: 410px;
  margin: 5px;
  overflow: hidden;
  transition: 250ms ease-in-out;
  width: 300px;
}

.movie-card:hover {
  transform: scale(1.04);
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.movie-card a {
  color: blue;
  padding-bottom: 50px;
  text-align: center;
  text-decoration: none;
}

.movie-card a:hover {
  opacity: 0.6;
}